/* ============== BUTTONS ============== */
.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  @extend %animation;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
  }
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

/* ============== END BUTTONS ============== */
