/* ============== HEADER ============== */
.page-header {
  border-bottom: 1px solid #ececec;
}

.top-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin: 0 95px 0 0;
  padding: 25px 0 25px 0;

  & .accent {
    color: var(--accent-color);
  }
}

/* ============== NAVIGATION ============== */

.nav {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  align-items: center;
}
.menu-mobile {
  padding: 10px 0;
  margin: 0;
  border: none;
  color: $color-title;
  background-color: transparent;
  margin-left: auto;
  position: relative;
  z-index: 22;

  &:hover .menu-mobile__icon,
  &:focus .menu-mobile__icon {
    fill: $color-accent;
  }
  &.is-open {
    position: fixed;
    top: 8px;
    right: 15px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-mobile__icon {
  fill: currentColor;
}
.menu-mobile .menu-mobile__close {
  display: none;
}
.menu-mobile.is-open .menu-mobile__close {
  display: block;
}
.menu-mobile.is-open .menu-mobile__menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-main;
    height: 100%;
    width: 100%;
    padding: 48px 40px;
    z-index: 1;
    overflow: auto;

    display: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      height: 100vh;
      //height: 100vh;
      vertical-align: middle;
      justify-content: space-between;
    }
  }
}
@media screen and (min-width: 768px) {
  .header-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
}
.navigation__link {
  color: $color-title;
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $time-hover $cubic-for-all;
  &:focus,
  &:hover {
    color: $color-accent;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    font-size: 14px;
    line-height: 16px;

    padding: 32px 0;
  }
}
.navigation__list {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    text-decoration: none;
  }
  @media screen and (min-width: 1200px) {
  }
}
.navigation__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.navigation__link--accent {
  color: $color-accent;
}

@media screen and (min-width: 768px) {
  .navigation__link--accent::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 2px;
    transform: scaleX(1);
    transition: transform $time-hover $cubic-for-all;
  }
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.social-list__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: $color-accent;
}
.social-list__line {
  background-color: rgba(33, 33, 33, 0.2);
  width: 22px;
  height: 2px;
  transform: rotate(90deg);
}

.contact__link {
  color: $color-text;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.176;
  display: block;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-accent;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.167;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.142;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__item {
  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    justify-content: space-between;
  }
}

.contact {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

.header-menu-contact {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
    display: block;
  }
}
.contact__link--accent {
  @media screen and (max-width: 767px) {
    color: $color-accent;
    font-size: 40px;
  }
}
