//Text stail logo
%text-stail-logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
//Animation
%animation {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// Обнуляет стиль списка
%list {
  padding: 0;
  margin: 0;

  list-style: none;
}

//
%two-columns-part-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}
%two-columns-part-two {
  width: calc((100% - 2 * 30px) / 2);
}
