/* ============== PORTFOLIO PROJECTS ============== */

.card {
  position: relative;
  overflow: hidden;
}

.filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  //flex-direction: reverse;
  justify-content: center;

  @extend %animation;
  @media screen and (max-width: 767px) {
    display: flex;
    //flex-direction: row;

    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.filter .button {
  margin-right: 8px;
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
}
.filter-shadow:hover,
.filter-shadow:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  @extend %animation;

  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: left;
  }
  & a {
    text-decoration: none;
    color: var(--title-text-color);
  }

  & h2 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  & p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
  }
}
.projects__shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);

  &:hover .project__text {
    transform: translateY(-100%);
    opacity: 1;
    width: 370px;
    height: 294px;

    padding: 64px;
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
  }
}

.projects__item-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 25px;
}

.projects__item-description p,
h2 {
  margin: 0;
}

.project__text {
  transform: translateY(0%);
  opacity: 1;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  width: 370px;
  height: 294px;
  padding: 64px;
  padding-left: 24px;
  padding-right: 24px;

  letter-spacing: 0.03em;

  color: rgba(33, 150, 243, 1);

  pointer-events: none;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
}

.projects__item-description {
  padding: 20px 24px;
  border-top: 0;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects__item-description p,
h2 {
  margin: 0;
  white-space: nowrap;
}
